<!DOCTYPE html>
<html ng-app="myApp">
<head>
        <script type="text/javascript" src="js/app.js"></script>
        <meta charset="UTF-8"></head>
<body>
        <md-dialog aria-label="Add request"> 
<md-content> 
   <md-subheader class="md-primary md-sticky-no-effect"><h2>Add request</h2></md-subheader> 
   <md-content class="md-padding"> 
     <form name="demandForm"> 
       <div layout layout-sm="column"> 
         <md-input-container flex>
           <label>Company</label>
           <input required name="comp" ng-model="demand.comp">
         </md-input-container>
       </div> 
       <div layout layout-sm="column"> 
         <md-input-container flex>
           <label>First Name</label>
           <input required name="firstName" ng-model="demand.firstName">
         </md-input-container>
         <md-input-container flex>
           <label>Last Name</label>
           <input required name="lastName" ng-model="demand.lastName">
         </md-input-container>
       </div> 
       <div layout layout-sm="column"> 
         <md-input-container flex>
           <label>Description</label>
           <textarea required name="description" ng-model="demand.description" columns="3" md-maxlength="200"></textarea>
         </md-input-container>
       </div> 
       </md-content>
       <div class="md-actions" layout="row">
         <md-button class="md-primary" ng-click="answer()"> 
           Add 
         </md-button> 
       </div>
      </form>
     </md-content>
   </md-content>
</md-dialog> 
</body>
</html>